@media all and (max-width: 768px) {
    .navbar.navbar-default,
    .navbar-default.nav-colored {
        background-color: #FFFFFF;
    }
    
    .navbar.navbar-default a,
    .navbar-default.nav-colored a {
        color: #4e4e4e!important;
    }
    
    .navbar.navbar-default a:hover,
    .navbar-default.nav-colored a:hover {
        color: #333333;
    }
    
    .navbar.navbar-default .navbar-toggle {
        background-color: #FFFFFF;
        transition: all .3s;
    }
    
    .navbar.navbar-default .navbar-toggle:hover,
    .navbar.navbar-default .icon-bar {
        background-color: #4e4e4e;
    }
    
    .navbar.navbar-default .navbar-toggle:hover .icon-bar{
        background-color: #FFFFFF;
    }
    .navbar-default {
        padding: 0;
    }
    
    #contact [class*='col-'] {
        margin-bottom: 30px;
    }
    
   .navbar-header .navbar-brand {
    color: white;
    font-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 55px;
    height: 55px;

}
}
